{% extends "base.html" %}
{% block title %}User Login{% endblock %}
{% block head %}<h2>User Login</h2>{% endblock %}
{% block content %}
<div class="login">
{% if form.errors %}
<p>Your username and password didn't match.
Please try again.</p>
{% endif %}
<div class=logineditsubmit>
<form method="post" action=".">{% csrf_token %}
    <p><label for="id_username">Username:</label>
    {{ form.username }}</p>
    <p><label for="id_password">Password:&nbsp</label>
    {{ form.password }}</p>
    <input type="submit" value="login" />
    <input type="hidden" name="next" value="/" />
</form>
</div>
</div>
{% endblock %}